# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

/src/generated/prisma

agrimart-c399c-firebase-adminsdk-fbsvc-9285aa8b6b.json
